<!doctype html>
<html class="no-js">
<head>
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="cleartype" content="on">

    {% load staticfiles %}
    {% load compress %}

    <!-- favicon and mobile device icons-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "vendor/ico/apple-touch-icon-precomposed.png" %}"/>
    <link rel="shortcut icon" href="{% static "vendor/ico/favicon.ico" %}"/>

    <!-- windows8 - tile icon  & color -->
    <meta name="msapplication-TileImage" content="{% static "vendor/ico/apple-touch-icon-precomposed.png" %}"/>
    <meta name="msapplication-TileColor" content="#222222"/>

    <!-- add web fonts if needed -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet" type="text/css"/>

    <!-- mobile first styles -->
    {% compress css %}
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap-3.2.0.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/css/font-awesome-4.2.0.min.css" %}"/>
<!--    <link rel="stylesheet" href="{% static "vendor/css/dropdowns-enhancement.css" %}"/>-->
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap-slider.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/css/bootstrap-toggle.min.css" %}"/>
    <link rel="stylesheet" type="text/less" href="{% static "scheduler/css/mobile.less" %}"/>
    {% block mobile_css %}{% endblock %}
    {% endcompress %}

    {% if not request.is_mobile and not request.is_tablet %}
    <!-- add desktop styles -->
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static "scheduler/css/desktop.less" %}"/>
    {% block desktop_css %}{% endblock %}
    {% endcompress %}
    {% endif %}

</head>
<body>

    <div id="wrapper" class="container" style="position:relative;">

        <div id="main-wrapper">
        	<div id="main" role="main">
        	   <div class="inner">{% block content %}{% endblock %}</div>
        	</div><!--end #main-->
        </div>

        <div id="meta-wrapper">
        	<footer id="footer">
                <div class="inner">
                    <!-- <div>Copyright &copy; {% now "Y" %} UW Information Technology</div> -->
                </div>
        	</footer><!--end #footer-->
        </div>
    </div>

	<!-- jquery cdn -->
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

	{% compress js %}
    <script src="{% static "vendor/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap-3.2.0.min.js" %}"></script>
    <script src="{% static "vendor/js/handlebars-1.0.0.min.js" %}"></script>
    <script src="{% static "vendor/js/moment.min.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap-slider.min.js" %}"></script>
    <script src="{% static "vendor/js/bootstrap-toggle.min.js" %}"></script>
    {% if not has_less_compiled %}
    <script src="{% static "vendor/js/less-1.7.3.min.js" %}"></script>
    {% endif %}
	<script src="{% static "scheduler/js/desktop.js" %}"></script>
    <script src="{% static "scheduler/js/main.js" %}"></script>
	{% block javascript %}{% endblock %}
    {% endcompress %}

</body>
</html>
