{% extends 'supporttools/base.html' %}

{% load staticfiles %}
{% load compress %}
{% load i18n %}

{% block content %}
<!-- page header -->
<div role="main" class="container-fluid">
<h2>Lecture Capture Scheduler</h2>

<h3>Manage Panopto Recorders</h3>

	<!--  Recorder Block -->
	<div id="panopto-recorders" class="recorders" >
		<form role="form" class="form-inline event-search">
			<div class="form-group inputs-row">
			  <label for="room-select">Panopto Recorder </label>
              <i class="recorders-loading fa fa-spinner fa-spin"></i>
			  <select id="room-select" type="text" class="form-control input-rm">
                <option value="" title="select a recorder">Select a Recorder</option>
              </select>
			</div>
		</form>
		
        <div class="result-display-container recorder-select-result"></div>
	</div>

</div> <!-- .container-fluid -->
<hr>

{% verbatim %}
<script id="recorder-selection-tmpl" type="text/x-handlebars-template">
<div class="container">
  <div class="recorder-selection" role="form">
    <div class="form-group">
      <label for="recorder-name">Name</label>
      <input type="text" id="recorder-name" class="form-control" disabled value="{{name}}">
    </div>
    <div class="form-group">
      <label for="recorder-state">State</label>
      <input type="text" id="recorder-state" class="form-control" disabled value="{{state}}">
    </div>
    <div class="form-group">
      <label for="recorder-id">Panopto Id</label>
      <input type="text" id="recorder-id" class="form-control" disabled value="{{id}}">
    </div>
    <div class="form-group">
      <label for="space-details">Location</label>
      {{#if space}}
      <input type="text" id="space-details" class="form-control" disabled value="{{space.name}} ({{space.formal_name}})">
      <a href="javascript:void(0);" class="remove-room" title="Remove location from recorder"><i class="fa fa-times-circle"></i></a><span><i class="fa fa-spinner fa-spin"></i></span>
      <button type="button" class="btn-primary change-room"><span aria-hidden="update">Change</span><span class="sr-only">assigned room</span></button>
      {{else}}
      <input type="text" id="space-details" class="form-control" disabled value="">
      <button type="button" class="btn-primary change-room"><span aria-hidden="assign a space">Assign</span><span class="sr-only">a space</span></button>
      {{/if}}
      <input type="hidden" id="space-id" value="{{external_id}}">
    </div>
    <div class="form-group">
<!--      <a href="{{settings_url}}" target="_blank">&quot;{{name}}&quot; in Panopto</a> -->
      <a href="https://{{server}}/Panopto/Pages/Admin/RemoteRecorders/List.aspx#modalPage=%22RemoteRecorderPreview%22&modalHeader={{name}}&modalParams=%22id%3D{{id}}%22" target="_blank">Admin &quot;{{name}}&quot; in Panopto</a>
    </div>
  </div>
  
  {{#each scheduled_recordings}}
  
  {{/each}}

  <div class="event-search">
    <div class="result-display-container event-search-result"></div>
  </div>
</div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="event-search-result-template" type="text/x-handlebars-template">
  <div class="result-list-container">
    <div class="result-header">
        <span class="sr-only">Schedule in {{room}}</span>
        <span class="sr-only">Lecture capture recording status: </span>
        {{#if has_recorder}}
	    <span class="record-status-enable"><i class="fa fa-video-camera"></i> Recorder is ready in this room</span>
	    {{else}}
		<span class="record-status-disable-outer"><i class="fa fa-warning"></i><span class="record-status-disable">No recorder found in this room</span></span>
	    {{/if}}
    </div>

    {{> reservation-list}}

  </div>
</script>
{% endverbatim %}


{% verbatim %}
<script id="event-search-result-empty-template" type="text/x-handlebars-template">
  <div class="room-header"><!-- Rslt Header -->
	<h3>No events scheduled on this recorder</h3>
  </div>	<!-- .Rslt Header -->
</script>
{% endverbatim %}

{% verbatim %}
<script id="reservation-list-partial" type="text/x-handlebars-template">
  <ol class="list-group result-list-chunk">
    {{#each schedule}}
      <li class="list-group-item clearfix">
        <span class="result-row-date" title="date">{{ month_num }}/{{ day }}</span>
        <span class="result-row-day" title="day">{{ weekday }}</span>
        <span class="result-row-time" title="time">{{ event_start_time }} - {{ event_end_time }} {{ ampm }}</span>
        <span class="result-row-event meeting-room-{{ name_index }}" title="event name">{{ name }}</span>
        <span class="result-row-contact" title="Contact person">
          {{#if contact_email}}
            <a href="mailto:{{ contact_email }}" target="_blank">{{ contact }}</a>
          {{else}}
            {{ contact }}
          {{/if}}
        </span>
        {{#if has_recorder}}
        <!--Button Code-->
        <span class="pull-right result-row-switchbtn">
        {{> schedule-button}}
        </span>
        <!--End button-->
        {{/if}}
      </li>
    {{/each}}
  </ol>
</script>
{% endverbatim %}

{% verbatim %}
<script id="schedule-button-partial" type="text/x-handlebars-template">
<div class="schedule-button-cluster {{#unless is_recorded}}{{#if recording_is_public}}is-public {{/if}}{{#if recording_is_broadcast}}is-webcast {{/if}}{{#unless full_duration}}partial-duration{{/unless}} {{#if disabled}}disabled{{/if}}{{/unless}}">
     <!-- duration status -->
        <span class="schedule-duration" title="Recording time is less than class session duration"><span>{{ recording_time }}</span>
        <i class="fa fa-clock-o"></i></span>
    <!-- public status -->
        <span class="schedule-public" data-toggle="tooltip" title="Share recording with the world" ><i class="fa fa-globe"></i></span>
    <!-- live streaming status -->
        <span class="schedule-webcast" data-toggle="tooltip" title="Stream live while recording"><i class="fa fa-rss fa-rotate-225"></i><i class="fa fa-rss fa-rotate-45"></i></span>

    <!-- container for scheduler button, toggle, and resulting modal -->
    <div class="btn-group  {{#if is_recorded}}is_recorded{{else}}{{#if is_recording}}is_recording{{else}}{{#if can_record}}can-record{{else}}{{#if recording_id}}scheduled{{else}}unscheduled{{/if}}{{/if}}{{/if}}{{/if}}" data-schedule-key="{{ key }}">

      <!-- scheduler button -->
        <div>
            <span class="text scheduled option-help" id="text" data-toggle="tooltip" title="Cancel this scheduled recording"><i class="glyphicon glyphicon-ok"></i> Scheduled</span>
            <span class="text unscheduled option-help" id="text" data-toggle="tooltip" title="Schedule this session">Schedule</span>
            <span class="text schedule-all option-help" id="text" data-toggle="tooltip" title="Schedule all sessions">Schedule All</span>
            <span class="text recordable option-help" id="text" data-toggle="tooltip" title="Start recording the current session now"><i class="fa fa-microphone"></i>Record Now</span>
            <span class="text recording option-help" id="text" data-toggle="tooltip" title="Stop recording the current session"><i class="fa fa-microphone"></i>Recording</span>
            <span class="text recorded" id="text" data-toggle="tooltip" title="Session is recorded"><i class="fa fa-microphone"></i>Recorded</span>
        </div>
        <!-- end scheduler button -->
    </div>
    <!-- end container for scheduler button, toggle, and resulting modal --> 
</div>
</script>
{% endverbatim %}

{% verbatim %}
<script id="ajax-waiting" type="text/x-handlebars-template">
  <div class="waiting">
    <i class="fa fa-spinner fa-4 fa-spin"></i>
  </div>
</script>
{% endverbatim %}


{% verbatim %}
<script id="assign-space-tmpl" type="text/x-handlebars-template">
<div class="modal fade assign-space-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Assign a Space to this Recorder</h3>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="new-room-search">Building Code Contains</label>
            <input id="new-room-search" class="form-control" placeholder="kne">
            <span style="display: none;"><i class="fa fa-spinner fa-spin"></i></span>
          </div>
		  <div class="form-group inputs-row">
            <label for="new-room-search-result">Selected Space</label>
            <select id="new-room-search-result" class="form-control input-rm"></select>
		  </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary assign-room" data-dismiss="modal" disabled>Assign New Location</button>
      </div>
    </div>
  </div>
</div>
</script>
{% endverbatim %}


{% verbatim %}
<script id="folder_created_message" type="text/x-handlebars-template">
Click the folder icon
<a href="{{folder_url}}" target="_blank" style="color: black;"><span class="fa-stack"><i class="fa fa-play-circle-o fa-stack-1x"></i><i class="fa fa-folder-o fa-stack-2x"></i></span></a>
to open the scheduled session's Panopto folder.
</script>
{% endverbatim %}


<script type="text/javascript">
window.scheduler = {
  csrftoken: '{{ csrf_token }}',
  canvas_host: '{{canvas_host}}',
  panopto_server: '{{panopto_server}}'
};
</script>

{% endblock content %}

{% block extra_css %}
{% compress css %}
<!-- <link rel="stylesheet" href="{% static "vendor/css/dropdowns-enhancement.css" %}"/>-->
<link rel="stylesheet" href="{% static "vendor/css/bootstrap-slider.min.css" %}"/>
<link rel="stylesheet" href="{% static "vendor/css/bootstrap-toggle.min.css" %}"/>
<link rel="stylesheet" type="text/less" href="{% static "scheduler/css/mobile.less" %}"/>
{% endcompress %}
{% if not request.is_mobile and not request.is_tablet %}
{% compress css %}
<link rel="stylesheet" type="text/less" href="{% static "scheduler/css/desktop.less" %}"/>
{% endcompress %}
{% endif %}
{% endblock extra_css %}

{% block extra_js %}
{% compress js %}
<script src="{% static "vendor/js/moment.min.js" %}"></script>
<script src="{% static "vendor/js/bootstrap-slider.min.js" %}"></script>
<script src="{% static "scheduler/js/main.js" %}"></script>
{% endcompress %}
{% endblock extra_js %}
